header{
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #ffe263de;
    box-shadow: 2px 2px 2px 2px;
    position: fixed;
    width: 95%;
    margin-left: 1%;
    border-radius: 15px 15px 15px 15px;
}
body{
    background-color: rgb(212, 204, 132);
}
nav{
    margin-top: 10px;
}
.Deskripsihome{
    width: 40%;
    font-size: 20px;
    padding: 50px 10px 10px 10px;
    margin-left: 50px;
    & h1{
        color: rgb(73, 69, 6);
    }
    & h3{
        color: rgb(126, 119, 60);
    }
    & p{
        color: rgb(109, 99, 11);
    }
}
.home{
    background-image: url(tgs.png);
    height: 800px;
    background-size: cover;
    padding-top: 50px;
}
nav a{
    text-decoration: none;
    padding: 5px 15px;
    font-size: 16px;
    color: rgb(125, 134, 0);
    text-decoration: none;
    transition: 1s;
    border-radius: 10px 10px 10px 10px;
}
nav a:hover{
    color:rgb(154, 163, 73);
    background-color:rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px 5px;
    margin: 5px;
    transition: 0.4s;
}
.Deskripsihome a{
    text-decoration: none;
    color: rgb(255, 254, 245);
    background-color: rgb(156, 142, 76);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px;
    transition: 1s;

}
.Deskripsihome a:hover{
    color: rgb(165, 144, 118);
    background-color: bisque;
    transition: 0.4s;
    box-shadow: 2px 2px 5px 5px;
}
p{
    color: rgb(92, 89, 64);
}
.about{
    height: 900px;
    background-color: antiquewhite;
    padding-top: 40px;
}
.ContainerAbout{
    background-color: azure;
    width: 50%;
    margin-left: 25%;
    text-align: justify;
    height: 800px;
    padding-top: 125px;
    padding-left: 40px;
    padding-right: 40px;
    word-spacing: 7px;
    border-radius: 15px;
    & h3{
        text-align: center;
    }

}
.ContainerAbout img{
    width: 500px;
    height: auto;
    padding-left: 17.5%;
}
.howto{
    height: 700px;
    background-color: antiquewhite;
    padding-top: 40px;
    padding-bottom: 10px;
}
.ContainerHowto{
    background-color: azure;
    width: 50%;
    margin-left: 25%;
    text-align: justify;
    height: 570px;
    padding-top: 125px;
    padding-left: 40px;
    padding-right: 40px;
    word-spacing: 7px;
    border-radius: 15px 15px 15px 15px;
    & h3{
        text-align: center;
    }

}
.ContainerHowto img{
    width: 500px;
    height: auto;
    padding-left: 17.5%;
}
.cardprofile{
    background-color: beige;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 100px;
}
.imgprofile img{
    width: 100%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}
.profile{
    height: 700px;
    background-color: antiquewhite;
    padding-top: 10%;
}
.ContainerProfile{
    background-color: azure;
    width: 50%;
    margin-left: 25%;
    margin-top: 0.2%;
    text-align: justify;
    height: 80%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 125px;
    word-spacing: 7px;
    border-radius: 15px 15px 15px 15px;


}
section.profile{
    padding-top: 15px;
}